@font-face {
  font-family: 'LilitaOne';
  src: url('/fonts/LilitaOne-Regular.eot');
  src: url('/fonts/LilitaOne-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/LilitaOne-Regular.woff') format('woff'),
  url('/fonts/LilitaOne-Regular.ttf') format('truetype'),
  url('/fonts/LilitaOne-Regular.svg#LilitaOne') format('svg');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  text-align: center;
  background-color: $backgroundcolor;
}

#topos {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;

  h1 {
    font-family: $fontH1;
    text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
    height: 50px;
  }

  #juego {
    margin: 0 auto;
    height: 512px;
    width: 335px;
    border: 15px solid $borderGame;
    background-image: url('/images/background.png');
    background-size: cover;

    .topo {
      width: calc(100% / 3);
      height: calc((100% - 150px) / 4);
      border: 1px solid $black;
      float: left;
      background: $holesUrl -5px -25px;
    }
  }
}