$fontH1: 'LilitaOne', sans-serif;

$backgroundcolor: #1EAB48;
$borderGame: lighten(#daa64b, 10);
$white: #FFF;
$black: #000;

$image-hole: '/images/Holes.png';
$backgroundGameUrl: url(/images/background.png);
