@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,900);

$fontH1: 'Lato', sans-serif;

$backgroundcolor: #1EAB48;
$borderGame: lighten(#daa64b, 10);
$white: #FFF;
$black: #000;

$holesUrl: url(/images/hole.png);
$backgroundGameUrl: url(/images/background.png);